body{
    margin: 0;
}
#div-tabela-teste{
    background-color: gainsboro;
    position: absolute;
    width: 100%;
}

#tabela-teste-titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: darkolivegreen;
    text-align: center;
}

#tabela-teste{
    border-collapse: collapse;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 10%;;
}

#tabela-teste, .th-cabecalho-tabela-teste, .td-linha-tabela-teste{
    border: 3px solid darkolivegreen;
}

.th-cabecalho-tabela-teste, .td-linha-tabela-teste{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
    text-align: center;
}



