
<%- include ('partials/header.ejs'); -%>

    <div id="div-tabela-teste">
        <h1 id="tabela-teste-titulo"> Tabela de Teste </h1>
        <table id="tabela-teste">
            <thead>
                <tr id="tr-cabecalho-tabela-teste">
                    <th scope="col" class="th-cabecalho-tabela-teste"> ID </th>
                    <th scope="col" class="th-cabecalho-tabela-teste"> Aerogerador </th>
                    <th scope="col" class="th-cabecalho-tabela-teste"> Velocidade do vento </th>
                    <th scope="col" class="th-cabecalho-tabela-teste"> Potência real </th>
                    <th scope="col" class="th-cabecalho-tabela-teste"> Potência calculada</th>
                </tr>
            </thead>
            <tbody>
                <% teste.forEach((teste, index) => { %> 
                <tr>
                    <th scope="row" class="td-linha-tabela-teste"> <%- teste.id -%></th>
                    <td class="td-linha-tabela-teste"> <%- teste.aerogerador -%></td>
                    <td class="td-linha-tabela-teste"> <%- teste.vel_vento -%> </td>
                    <td class="td-linha-tabela-teste"> <%- teste.potencia_real -%> </td>
                    <td class="td-linha-tabela-teste"> <%- teste.potencia_calculada -%> </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>